POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
ConnectionStrings__DefaultConnection=

JwtSettings__Key=<GERAR COM: openssl rand -base64 64>
JwtSettings__Issuer=
JwtSettings__Audience=
JwtSettings__ExpirationInMinutes=